@font-face {
  font-family: 'PTsans';
  src: local('PTsans'),
    url('./fonts/PTSans-Regular.ttf');
  font-weight: bold;
}

:root {
  font-family: 'PTsans';
  line-height: 1.5;
  font-weight: 400;
}

input{
  font-family: 'PTsans';
}

a{
  user-select: none;
}

a:hover {
  cursor: pointer;
}
